<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/friends.css">
    <title>Amis</title>
</head>
<header>
    <a href="{{url_for('home')}}">
        <div class="photologo">
            <img src="/static/accueil/logo.png" alt="Logo">
        </div>
    </a>
    
    <nav>
        <ul>
            <li><a href="{{url_for('home')}}">Accueil</a></li>
            <li><a href="{{url_for('association')}}">Associations</a></li>
            <li><a href="{{url_for('friends')}}">Amis</a></li>
            <li><a href="{{url_for('Leaderboard')}}">Classement</a></li>
        </ul>
    </nav>
    <a href="{{url_for ('profile')}}">
        <div class="profile-section">
            <img src="{{ url_for('static', filename='profile_pictures/' + user_data[8] ) }}"  alt="Profil" class="profile-logo">
        </div>
    </a>
    
</header>
<body>
   
    <div class="barre_de_recherche">

    </div>
    <div class="amis">
        
            <table>
                <tr class="='haut_de_table"><th>Photo de profil</th>
                <th>Nom</th>
            <th>Prénom</th>
            <th>score</th>
        </tr>
                {%for amis in result%}
                {% for ami in amis %}



                    
                <tr>
                    <th>
                        <a href="{{url_for('visit_profile',visit_mail=ami[4]) }}">
                            <img class='ami_picture' src="{{url_for('static',filename='profile_pictures/' + ami[3])}}" alt="ami1">
                        </a>
                    </th>
                    <th><p>{{ami[0]}}</p></th>
                    <th><p>{{ami[1]}}</p></th>

                    <th>{{ami[2]}}</th>
                </tr>
                    
                </div>
            {% endfor %}
            {%endfor%}
        </table>
            
    </div>           
            
            
            
       
    </div>
    
    
    
</body>
</html>