<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/ResetPasswordRequestSent.css">
    <title>FIND-YOUR-ACCOUNT</title>
</head>
<body>
    <div class="logo"></div>
    <form action="/ForgottenPassword" method="POST">
        <div class="RESET-YOUR-PASSWORD-box">
            
            <div class="RESET-YOUR-PASSWORD-header">
                <header>RÉINITIALISER VOTRE MOT DE PASSE</header>
            </div>
            <div class="OTPSENT-header">
                <header>OTP ENVOYÉ À VOTRE EMAIL !</header>
            </div>
            <div class="input-box">
                <input type="email" class="input-field" name="mail" placeholder="email" autocomplete="off" required>
            </div>
            

            <div class="input-submit">
                <button class="submit-btn" id="submit"></button>
                <label for="submit">Envoyer</label>
            </div>
            
        </div>
        <div class="sign-in-link">
            <a href="http://127.0.0.1:5000/login">Connectez-vous</a>
        </div>
    </form>

</body>

</html>